*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 14px;
}
body {
	margin: 0;
	height: 100vh;
	background-color: hsl(30, 38%, 92%);
	/*overflow: hidden;*/
}

main {
	margin: 2rem auto;
	background-color: hsl(0, 0%, 100%);
	width: 25rem;
	border-radius: 0.8em;
	height: 560px;
	display: flex;
	flex-direction: column;

}
.img-container {
	background-size: 25rem;
	width: 25rem;
	height: 17.5rem;
	background-image: url(images/image-product-mobile.jpg);
	border-radius: 0.8em 0.8em 0 0;
}
h1,
h2,
p {
	margin: 0 1rem;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 0.85rem;
	text-transform: uppercase;
	color: hsl(228, 12%, 48%);
	letter-spacing: 0.2rem;
	margin-top: 1.5em;
}

h2 {
	font-family: 'Fraunces', serif;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-top: 0.5rem;
}

p {
	font-family: 'Montserrat', sans-serif;
	color: hsl(228, 12%, 48%);
}

article > p:nth-of-type(1) {
	font-family: 'Fraunces', serif;
	color: hsl(158, 36%, 37%);
	font-size: 2rem;
}

article > p:nth-of-type(2) {
	text-decoration: line-through;
}


form {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}

button {
	width: 80%;
	padding: .8em 4em;
}

button {
	background-color: hsl(158, 36%, 37%);
	border: 1px solid hsl(158, 36%, 37%);
	border-radius: 0.5em;
	color: hsl(0, 0%, 100%);
	font-family: "Montserrat", sans-serif;
}

.description {
	margin-top: 1rem;
	line-height: 1.5rem;
	line-break: 1.5rem;
}

.price {
	display: flex;
	align-items: center;
	margin-top: 1rem;
}

.cart-icon {
	width: 1em;
	margin-right: 1em;
}

.checkout-btn:hover {
	background-color: hsl(158, 36%, 20%);
	/*hsl(158, 36%, 37%)*/
}

/*Media Queries and Large Screen Display*/

@media (min-width: 768px) {
	main {
		/*display: flex;*/
		flex-direction: row;
		width: 55rem;
	}
	.img-container {
		background-size: 35rem;
		width: 55rem;
		height: 100%;
		background-image: url(images/image-product-desktop.jpg);
		border-radius: 0.8em 0 0 0.8em;
	}
}

/* LIne Breaks */
.line-break1::before {
	content: "\a";
	white-space: pre;
}
.line-break2::before {
	content: "\a";
	white-space: pre;
}
.line-break3::before {
	content: "\a";
	white-space: pre;
}